<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <title>CleanApp Administrator profile Page</title>
    <style type="text/css">

    </style>
</head>
<body>
<div class="container-fluid" style="background-color: white; height: 100%; width: 100%; box-sizing: border-box; margin: 0; padding: 0;">
   <div class="row">
     <div clsss="col-6">
        <ul class="navbar" id="navbar" style="list-style:none;">
          <img src="logoicon.png" alt="logo image" onclick="location.href='cleanapphome.html'" id="content">
          <h1 id="content"><em style="color:rgb(0, 153, 255)">CleanApp</em></h1>
          <li id="content"><input><i class="fa fa-search" style="color: rgb(0, 153, 255); padding: 5px; margin:5px;"  aria-hidden="true"></i></input></li>
          <li id="content"><a href=""></a>Last Log-in</li>
          <li id="content"><a href=""></a></li>
          <li id="content"><a href=""></a></li>
          <img src="juwoncleanappprofile.jpeg" alt="minute profile image" width="5%">
      </ul>
    </div>
   </div>

   <div class="row" style="display: flex;">
      <div class="col" style="float:left">
          <img src="juwoncleanappprofile.jpeg" alt="user image" width="35%" height="">
      </div>
      <div class="col" style="float:right">
        <span style="padding-right:10px;">Juwon Awoniyi </span> <i class="fa fa-location-arrow" style="color: rgb(0, 153, 255);"aria-hidden="true"></i><span style="padding-left:10px;">Lagos</span>
        <p><em style="color:rgb(0, 153, 255);">Admin</em></p><br>
        <br>
        <span style="padding-right:10px;">Send message</span> 
        <span style="padding-right:10px;"><em style="color:rgb(0, 153, 255);" class="btn btn-outline-info"></em></span>
        <span style="padding-left:10px;">Last Log-in</span>
      </div>
    </div>


    <div class="row">
     <div class="col" style="float:left;">
       
       <h4></h4>
       <textarea class="col-md-9"></textarea>
    </div>
    <div class="col" style="float:right;">
       <span style="padding-left:20px;" class="btn btn-outline-info">Dispatches</span> <span style="padding-left:20px;">About</span>
       <hr style="color: rgb(0, 153, 255);">
       <h6>CONTACT INFORMATION</h6>
       <ul style="list-style: none;">
         <li>Phone: <span style="padding-left:20px;"><em style="color:rgb(0, 153, 255)">+2348164837156</em></li>
         <li>Address: <span style="padding-left:12px;"> 8, Aderibigbe street, Eti-Osa, Lagos. </span></li>
         <li>Email: <span style="padding-left:22px;"><em style="color:rgb(0, 153, 255)">awoniyijuwon@ymail.com</em></li></span>
      </ul>
        <div>
        <h6>BASIC INFORMATION</h6>
        <ul style="list-style:none;">
          <li>Birthday <span style="padding-left:50px;">Septempber 14,1960</span></li>
           <li><span style="padding-right:61px;">Gender</span>Male</li>
        </ul>
    </div>
    </div>
   </div>
   <div class="row">
    <div class="col-12">
   <footer>
      <span><p style="display:inline;">© 2024 <em style="color:rgb(0, 153, 255);">CleanApp</em>. All rights reserved</p></span>
      <div class="col" style="display:flex;">
      <span>
            <a href="" style="display:inline;">Terms</a>
            <a href="" style="display:inline;">Privacy</a>
        </span>
    </div>
</div>
</div>
</footer>

         </div>
      
               
                  
       
  



<script src="jquery.js"></script>
 

<script>


</script>
</body>
</html>