<div class="row">
    <div class="col">
      <ul class="navbar" id="navbar" style="list-style:none;">
        <img src="/static/logoicon.png" width="100" alt="logo image" onclick="location.href='/'" id="content">
        <h5 id="content"><em style="color:rgb(0, 153, 255); margin-right: 5px;">Cleanapp</em></h5>
        <button id="content" type="btn" onclick="location.href='/login/'" class="btn btn-outline-info">Login</button>
        <button id="content" class="btn btn-outline-danger"onclick="location.href='/logout/'">Log Out</button>
      </ul>
       </div>
     </div>