
 <div class="row">
    <div class="col">
        <ul class="navbar" id="navbar" style="list-style:none; display: flex; justify-content: space-between; align-items: center;">
            <li id="navelement">
                <img src="/static/logoicon.png" alt="logo image"  id="navelement" style="margin-right: 800px;">
            </li>
            <li id="navelement">
                <h5><em style="color:#03a9f4; margin-right: 5px;">Cleanapp</em></h5>
            </li>
        </ul>
    </div>
</div>
