<div class="row">
   <div class="col">
     <ul class="navbar" id="navbar" style="list-style:none;">
       <li id="navelement"><img src="/static/logoicon.png" alt="logo image" onclick="location.href='/'" id="navelement"></li>
       <li id="navelement"><h5><em style="color:#03a9f4; margin-right: 5px;">Cleanapp</em></h5></li>
       <li id="navelement" ><a href="/cleanappitempage/"> Items</a></li>
       <li id="navelement"><a href="/services/">Services</a></li>
       <li id="navelement"><a href="/pricelist/">Prices</a></li> 
    </ul>
  </div>
</div>
