<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link href="/static/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/fontawesome/css/all.css">
  <title>Cleanapp Index Page</title>
  <style type="text/css">
       *{background-color:white; padding-right:0px; margin:0px; padding-top:0px; text-justify: auto; }
       body {font-family: "Raleway", sans-serif;font-variant: small-caps; padding: 0; height: 100vh;background:whitesmoke}
      .navbar{position:absolute; top:0; width: 100%; overflow: hidden; }
       i{color:#03a9f4;}
       li{ position: relative;margin: auto;display: block;}
       footer{background-color: #03a9f4;}

       @media (max-width: 600px) {.footer{width: 100%;margin-bottom: 20px;}}
       
       img {max-width: 100%;}

       .dropdown { position: relative;display: inline-block;}
       .dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
       .dropdown-content a {color:#03a9f4;padding: 12px 16px;text-decoration: none;display: block;}
       .dropdown-content a:hover {background-color:transparent}
       .dropdown:hover .dropdown-content {display: block;}


    </style>
</head>
<body>
<div class="container-fluid">
    {% include "user/nav.html" %}

    <div class="row" style="padding-top: 150px;;">
        <div class="col">
             <h1>MEN</h1>
                <table>
                     <tr>
                       <th><h1 style="color: #03a9f4;">ITEMS</h1></th>
                       <th><h1 style="color:green">PRICE</h1></th>
                    </tr>
    
                     <tr>
                       <td>Agbada Alone</td>
                       <td>#1000</td>
                     </tr>
                     
                    <tr>
                        <td>Agbada Complete</td>
                        <td>#1500</td>
                    </tr>
                    
                    <tr>
                      <td>Armless jacket</td>
                      <td>#750</td>
                </tr>
    
                <tr>
                    <td>Aso Oke Complete</td>
                    <td>#3250</td>
                </tr> 
              
    
                <tr>
                    <td>Baseball cap</td>
                    <td>#700</td>
                </tr> 
    
                <tr>
                    <td>Blazer/suit jacket </td>
                    <td>#1500</td>
                </tr> 
                
                <tr>
                    <td>Boxers</td>
                    <td>#400</td>
                </tr> 
    
                <tr>
                    <td>Buba and Sokoto lace</td>
                    <td>#1250</td>
                </tr> 
    
                <tr>
                    <td> Buba and Sokoto Ankara</td>
                    <td>#1250</td>
                </tr> 
    
                <tr>
                    <td> Canvas shoe</td>
                    <td>#100</td>
                </tr> 
    
    
                <tr>
                    <td>Complete pullover</td>
                    <td>#1250</td>
                </tr> 
    
    
                <tr>
                    <td>Coloured Shirt</td>
                    <td>#500</td>
                </tr> 
    
                <tr>
                    <td> Handkerchief </td>
                    <td>#200</td>
                </tr> 
    
                <tr>
                    <td>Hoodie</td>
                    <td>#750</td>
                </tr> 
    
                <tr>
                    <td>Jalamia</td>
                    <td>#500</td>
                </tr> 
    
                <tr>
                    <td>Jean Jacket</td>
                    <td>#750</td>
                </tr> 
    
                <tr>
                    <td>Jean Trouser</td>
                    <td>#2000</td>
                </tr>
    
                <tr>
                    <td>Kaftan</td>
                   <td>#1500</td>
                </tr>
    
                <tr>
                    <td>Laptop bag</td>
                    <td>#1000</td>
                </tr>
    
                <tr>
                    <td>Lawyer's Bid</td>
                    <td>#750</td>
                </tr>
    
                <tr>
                    <td>Lawyer's Collar</td>
                    <td>#750</td>
                </tr>
    
                <tr>
                    <td>Native cap</td>
                    <td>#650</td>
                </tr>
    
                <tr>
                    <td>Overall</td>
                    <td>#850</td>
                </tr> 
    
    
                <tr>
                    <td>Plain trousers</td>
                    <td>#500</td>
                </tr> 
    
                <tr>
                    <td>Pull over top</td>
                    <td>#1000</td>
                </tr> 
    
    
                <tr>
                    <td>Pyjamas</td>
                    <td>#1000</td>
                </tr>
    
                <tr>
                    <td>Safari Suit</td>
                    <td>#25000</td>
                </tr> 
    
                <tr>
                    <td>Singlet</td>
                    <td>#400</td>
                </tr> 
    
                <tr>
                    <td>Small face towel</td>
                    <td>#500</td>
                </tr> 
    
                <tr>
                    <td>Socks</td>
                    <td>#300</td>
                </tr> 
    
                <tr>
                    <td> Suit (2pcs)</td>
                    <td>#200</td>
                </tr> 
    
                <tr>
                    <td>Suit (3pcs)</td>
                    <td>#2350</td>
                </tr> 
    
                <tr>
                    <td>Sweat Shirt</td>
                    <td>#600</td>
                </tr> 
    
                
                <tr>
                    <td>Tie </td>
                    <td>#400</td>
                </tr> 
    
                <tr>
                    <td>Trousers and Igbo Buba </td>
                    <td>#1750</td>
                </tr>
    
                <tr>
                    <td>Trousers </td>
                    <td>#500</td>
                </tr> 
    
                <tr>
                    <td>T-shirt </td>
                    <td>#400</td>
                </tr> 
    
                <tr>
                    <td>White-shirt </td>
                    <td>#700</td>
                </tr> 
         </table>
         </div>
         </div>
         <hr style="color: #2196F3;">
         <div class="row">
            <div class="col">
                <h1>WOMEN</h1>
                <table>
                    <tr>
                        <td> Aso oke complete</td>
                        <td>#3000</td>
                    </tr> 
                
                    <tr>
                        <td>Beaded blouse</td>
                        <td>#1000</td>
                    </tr> 
    
                    <tr>
                        <td>Beaded boubou</td>
                        <td>#1250</td>
                    </tr> 
    
                    <tr>
                        <td>Beaded gown</td>
                         <td>#1250</td>
                    </tr> 
    
                    <tr>
                        <td>Beaded skirt</td>
                        <td>#1000</td>
                    </tr> 
             
                    <tr>
                        <td>Belt</td>
                        <td>#500</td>
                    </tr> 
                    
                    <tr>
                        <td>Blouse</td>
                        <td>#500</td>
                    </tr> 
                    
                    <tr>
                        <td>Boubou</td>
                        <td>#750</td>
                    </tr> 
    
                    
                    <tr>
                        <td>Bra Underwear</td>
                        <td>#400</td>
                    </tr> 
                    
                    <tr>
                        <td>Bridal Gown/Diner Gown (beaded/accessories)</td>
                        <td>#4000</td>
                    </tr> 
    
                    
                    <tr>
                        <td>Bridal Gown/Dinner Gown (plain)</td>
                        <td>#3500</td>
                    </tr> 
                    
                    <tr>
                        <td>Bridal Gown plain </td>
                        <td>#3000</td>
                    </tr> 
                    
                    <tr>
                        <td>Camisole </td>
                        <td>#600</td>
                    </tr> 
    
                  <tr>
                    <td>Canvas shoe</td>
                    <td>#1000</td>
                </tr> 
    
    
                  <tr>
                    <td>Coat jacket</td>
                    <td>#1500</td>
                </tr> 
    
        
                  <tr>
                     <td>Coloured Shirt </td>
                    <td>#600</td>
                </tr> 
    
             
    
                  <tr>
                     <td>Dress and jacket</td>
                    <td>#1350</td>
                </tr> 
    
                  <tr>
                     <td>Gele </td>
                    <td>#1000</td>
                </tr> 
    
    
                  <tr>
                    <td>George</td>
                    <td>#1250</td>
                </tr> 
    
    
                  <tr>
                    <td>Handbag small/big </td>
                    <td>#1000</td>
                </tr> 
    
                  <tr>
                    <td>Iro and Buba(Ankara with beads)</td>
                    <td>#1350</td>
                </tr> 
    
                  <tr>
                    <td>Iro and Buba (Ankara without beads)</td>
                    <td>#1250</td>
                </tr> 
    
                  <tr>
                    <td>Jacket/Blazer</td>
                    <td>#1500</td>
                </tr> 
    
                  <tr>
                    <td>Jeans Top jacket</td>
                    <td>#1250</td>
                </tr> 
    
                  <tr>
                    <td>Jean Trousers</td>
                    <td>#1250</td>
                </tr> 
    
        
                  <tr>
                    <td>Long Skirt with accessories</td>
                    <td>#1250</td>
                </tr> 
    
                  <tr>
                    <td>Native Skirt & blouse(Ankara)</td>
                    <td>#750</td>
                </tr> 
    
                  
                  <tr>
                    <td>Native Skirt & blouse(lace)</td>
                    <td>#650</td>
                </tr> 
    
                  <tr>
                    <td>Pant</td>
                    <td>#400</td>
                </tr> 
    
                  <tr>
                    <td>Plain Skirt short</td>
                    <td>#650</td>
                </tr> 
    
                  <tr>
                    <td>Plain long gown</td>
                    <td>#1000</td>
                </tr> 
    
                  <tr>
                    <td>Plain Long skirt</td>
                    <td>#600</td>
                </tr> 
    
                  <tr>
                    <td>Plain short gown</td>
                    <td>#1000</td>
                </tr> 
    
                  <tr>
                    <td>Pleated Skirt</td>
                    <td>#700</td>
                </tr> 
    
                  <tr>
                    <td>Short/Bum-short</td>
                    <td>#600</td>
                </tr> 
    
             
                  <tr>
                    <td>Short Skirt with accessories</td>
                    <td>#1250</td>
                </tr> 
    
                  <tr>
                     <td>Small blouse</td>
                    <td>#750</td>
                </tr> 
    
                  <tr>
                    <td>Suit (2)pcs </td>
                    <td>#2000</td>
                </tr> 
    
                 
                  <tr>
                    <td>Trouser</td>
                    <td>#600</td>
                </tr> 
    
                  <tr>
                    <td>Wedding Gown</td>
                    <td>#5000</td>
                </tr>
            </table>
        </div>
        </div>
    <hr style="color: #2196F3;">
    <div class="row">
        <div class="col">
            <h1>KIDS</h1>
            <table>
                <tr>
                    <td>Babies Car Seat</td>
                    <td>#2500</td>
                </tr>
                
                <tr>
                    <td> Babies Cot</td>
                    <td>#3000</td>
                </tr> 
    
                  <tr>
                    <td>Blouse</td>
                    <td>#400</td>
                </tr> 
    
                  <tr>
                    <td>Bridal Wear (Beaded)</td>
                    <td>#2000</td>
                </tr> 
    
                  <tr>
                    <td> Bridal Wear (Plain)</td>
                    <td>#1500</td>
                </tr> 
    
                  <tr>
                    <td>Gown </td>
                    <td>#1250</td>
                </tr> 
    
                  
                  <tr>
                    <td>Jean Top </td>
                    <td>#700</td>
                </tr> 
    
                
                  <tr>
                    <td>Jean Trouser</td>
                    <td>#700</td>
                </tr>
    
                <tr>
                    <td>School uniform (A pair)</td>
                    <td>#1000</td>
                </tr> 
    
                  <tr>
                    <td>Shirt</td>
                    <td>#400</td>
                </tr> 
    
                  <tr>
                    <td>Short</td>
                    <td>#400</td>
                </tr> 
    
                  <tr>
                    <td>Skirt & Blouse</td>
                    <td>#500</td>
                </tr> 
    
                
                  <tr>
                    <td>Skirt</td>
                    <td>#500</td>
                </tr> 
    
                  <tr>
                    <td>Suit (2) pcs</td>
                    <td>#1500</td>
                </tr> 
    
                  <tr>
                    <td>Suit (3) pcs</td>
                    <td>#2000</td>
                </tr> 
    
                  <tr>
                    <td>Teddy</td>
                    <td>#2000</td>
                </tr> 
    
                  <tr>
                    <td>Tie</td>
                    <td>#300</td>
                </tr> 
    
                  <tr>
                    <td>Trouser</td>
                    <td>#400</td>
                </tr> 
    
                  <tr>
                    <td>T-shirt</td>
                    <td>#400</td>
                </tr> 
    
              
            </table>
            </div>
            </div>
    <hr style="color: #2196F3;">
    <div class="row">
        <div class="col">
           <h1>HOUSEHOLD</h1>
           <table>
               <tr>
                <td>Bath Robe</td>
                <td>#1300</td>
            </tr>
            
            <tr>
                <td>Chair cover/small or big</td>
                <td>#1,200</td>
            </tr> 
            
            <tr>
                <td>Chair Puff</td>
                <td>#2,000</td>
            </tr> 
        
            <tr>
                <td>Curtain(L)</td>
                <td>#4,000</td>
            </tr> 
        
                 
            <tr>
                <td>Curtain(m)</td>
                <td>#3,500</td>
            </tr> 
        
                 
            <tr>
                <td>Curtain(XL)</td>
                <td>#5,000</td>
            </tr> 
            
            <tr>
                <td>Duvet (medium)</td>
                <td>#5,000</td>
            </tr> 
                   
            <tr>
                <td>Flags</td>
                <td>#1,000</td>
            </tr> 
        
            <tr>
                <td>Foot mat</td>
                <td>#2,000</td>
            </tr> 
        
            <tr>
                <td>Pillow Case </td>
                <td>#650</td>
            </tr> 
    
            <tr>
                <td>Pillow </td>
                <td>#3,000</td>
             </tr> 
        
             <tr>
                <td>Rugs 3by 5</td>
                <td>#10,000</td>
            </tr> 
        
            <tr>
                <td>Rugs 6 by 4 </td>
                <td>#12,000</td>
             </tr>
             
             <tr>
                <td>Rugs 7by 5</td>
                <td>#15,000</td>
            </tr>
            
            <tr>
                <td>Window Blind(single)</td>
                <td>#3,500</td>
            </tr> 
        
              </table>
              </div>
              </div>

              {% include "user/footer.html" %}

            </div>

 <script src="/static/jquery.js"></script>

<script>
            
</script>
            
            
            </body>
            </html>